body {
background:#fff;
font-family:Arial, sans-serif;
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;         
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding: 10px 20px;
    cursor:pointer;
    position:relative;
    line-height:0px;
    height: 500px;	
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:340px;
    max-height:220px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 28px;
    height: 28px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
	border:1px solid #cccccc;
}

.nbs-flexisel-nav-left {
    right: 41px;
    top: -75px!important;
    /* background: url(../images/button-previous.png) no-repeat; */
}

.nbs-flexisel-nav-right {
    right: 0px;
	top: -75px!important;
	/* background: url(../images/button-next.png) no-repeat; */
}

.nbs-flexisel-nav-left:after{
    content: "\f104";
    font-size: 25px;
    font-family: 'Fontawesome';
    position: absolute;
    top: -6px;
    left: 7px;
}

.nbs-flexisel-nav-right:after{
    content: "\f105";
    font-size: 25px;
    font-family: 'Fontawesome';
    position: absolute;
    top: -6px;
    left: 7px;
}